* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
    margin: 20px auto;
    width: 800px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header .name {
    color: #00a1ff;
}
.header .topic span {
    color: red;
}
.container {
    display: flex;
}
.stage {
    
    height: 400px;
    width: 50%;
    position: relative;
    background-color: #e7e7e7;
}
.stage .main {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: black;
    bottom: 30px;
    left: 60px;
}
.stage .stander {
    position: absolute;
    background-color: black;
    height: 300px;
    width: 5px;
    left: 110px;
    bottom: 30px;
}
.stage .row {
    width: 100px;
    height: 5px;
    position: absolute;
    background-color: black;
    top: 70px;
    left: 111px;
}
.stage .rope {
    position: absolute;
    background: black;
    height: 30px;
    width: 5px;
    left: 206px;
    top: 72px;
}

.stage .head{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    left: 184px;
    top: 100px;
    display: none;
}
.stage .body{
    position: absolute;
    background-color: black;
    width: 5px;
    height: 103px;
    left: 206px;
    top: 150px;
    display: none;
}
.stage .hands .first ,
.stage .legs .first{
    width: 5px;
    position: absolute;
    background-color: black;
    height: 70px;
    transform: rotate(45deg);
    left: 180px;
    top: 143px;
    
}
.stage .hands .second,
.stage .legs .second {
    width: 5px;
    position: absolute;
    background-color: black;
    height: 70px;
    transform: rotate(135deg);
    left: 232px;
    
}
.stage .hands .first {
    top: 143px;
    display: none;
}
.stage .hands .second {
    top: 143px;
    display: none;
}
.stage .legs .first{
    top: 242px;
    display: none;
}
.stage .legs .second {
    top: 242px;
    display: none;
}
.stage.wrong-1 .head {
    display: block;
}
.stage.wrong-2 .body {
    display: block;
}
.stage.wrong-3 .hands .first {
    display: block;
}
.stage.wrong-4 .hands .second {
    display: block;
}
.stage.wrong-5 .legs .first {
    display: block;
}
.stage.wrong-6 .legs .second {
    display: block;
}
.lettersCon {
    width: 50%;
    text-align: center;
}
.lettersCon span {
    border-radius: 10px;
    padding: 17px;
    display: inline-block;
    background-color: #41c9a1;
    color: white;
    margin: 7px;
    font-weight: bold;
    cursor: pointer;
}
.lettersCon span.clicked {
    background-color: #e7e7e7;
    color: gray;
    pointer-events: none;
}
.gussing {
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
    align-items: center;

}
.gussing span{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 10px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 3px solid;
    transition: 0.3;
}
.gussing span.letter-space {
    background: none;
    border: none;
    position: relative;
}
.gussing .letter-space::before {
    top: 16px;
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    left: 17px;
    background: black;
}
.popFailed,
.popSucces {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    top:0;
    left: 0;
}
.popFailed .pop,
.popSucces .pop{
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
.popSucces .pop{
    background-color: green;
}
.buttRe {
    position: absolute;
    bottom: -17px;
    background: #FF9800;
    width: 130px;
    height: 33px;
    font-size: 18px;
    border-radius: 9px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    cursor: pointer;

}